.blue {
    background-color: blue;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.blue:hover{
    background-color: #0066ff;
}

button{
    width: 10%;
    min-width: 100px;
    margin: 20px;
    padding: 4px;
    border: 2px solid black;
    border-radius: 4px;
}

button:hover{
    cursor:pointer;
}

html, body {
    background: linear-gradient(135deg, #ff9500 0%, #e5ff00 100%);
    height: 100%;
}
